.carousel-inner .row {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.carousel-inner .col-2 {
  flex: 0 0 16.6667%;
  max-width: 16.6667%;
}

.card {
  border-radius: 10px;
  height: 300px;
  width: 170px;
  overflow: hidden;
}

.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-size: 50px 50px;
  background-image: none;
}

.carousel-control-prev-icon {
  background-image: url('left-arrow.png');
}

.carousel-control-next-icon {
  background-image: url('right-arrow.png');
}

@media (max-width: 768px) {
  .col-2 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .card {
    width: 100%;
    height: auto;
  }
}
