    <!-- JS here -->

    <script>
        function setActive(link) {
            const links = document.querySelectorAll('.sidebar .nav-link');
            links.forEach(link => link.classList.remove('active'));
            link.classList.add('active');
        }
        // Optional: Set the initial active link based on current URL or other logic
        document.addEventListener('DOMContentLoaded', () => {
            const currentPath = window.location.pathname;
            const links = document.querySelectorAll('.sidebar .nav-link');
            links.forEach(link => {
                if (link.getAttribute('href') === currentPath) {
                    link.classList.add('active');
                }
            });
        });

        $(document).ready(function() {
          if ($('.msg').length) {
            $('.msg').addClass('show');
            setTimeout(function() {
              $('.msg').removeClass('show');
            }, 4000);
          }
        });

        $(document).ready(function(){
      $('#cardSlider').carousel({
        interval: false,
        wrap: true
      });

      $('.carousel-control-next').click(function(){
        $('#cardSlider').carousel('next');
      });

      $('.carousel-control-prev').click(function(){
        $('#cardSlider').carousel('prev');
      });
    });
    </script>

    <script src="/js/helperFunctions.js"></script>
    <script src="/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/isotope.pkgd.min.js"></script>
    <script src="/js/one-page-nav-min.js"></script>
    <script src="/js/slick.min.js"></script>
    <script src="/js/jquery.meanmenu.min.js"></script>
    <script src="/js/ajax-form.js"></script>
    <script src="/js/fontawesome.min.js"></script>
    <script src="/js/wow.min.js"></script>
    <script src="/js/jquery.scrollUp.min.js"></script>
    <script src="/js/imagesloaded.pkgd.min.js"></script>
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <script src="/js/plugins.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>