    <!-- JS here -->
    <script>
        $(document).ready(function(){
            $(".main-product-carousel").owlCarousel({
                items: 4,
                loop: true,
                margin: 10,
                nav: true,
                dots: false,
                autoplay: true,
                autoplayTimeout: 3000,
                autoplayHoverPause: true,
                responsive: {
                    0: {
                        items: 1
                    },
                    600: {
                        items: 2
                    },
                    1000: {
                        items: 4
                    }
                }
            });
        });

        document.querySelectorAll('#product-rating .fa-star').forEach(star => {
        star.addEventListener('mouseover', (event) => {
            const value = event.target.getAttribute('data-value');
            document.querySelectorAll('#product-rating .fa-star').forEach((s, index) => {
                if (index < value) {
                    s.classList.add('fas');
                    s.classList.remove('far');
                } else {
                    s.classList.add('far');
                    s.classList.remove('fas');
                }
            });
        });

        star.addEventListener('click', (event) => {
            const value = event.target.getAttribute('data-value');
            alert(`You rated this product ${value} stars!`);
        });

        star.addEventListener('mouseout', () => {
            document.querySelectorAll('#product-rating .fa-star').forEach(s => {
                s.classList.add('far');
                s.classList.remove('fas');
            });
        });
    });
    </script>


<style>
    .stars i {
        color: #f0ad4e;
        cursor: pointer;
    }
    .stars i.fas {
        color: #f0ad4e;
    }
</style>
    <!-- JS here -->
    <script src="js/vendor/jquery-1.12.4.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/isotope.pkgd.min.js"></script>
    <script src="js/one-page-nav-min.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/jquery.meanmenu.min.js"></script>
    <script src="js/ajax-form.js"></script>
    <script src="https://cdn.lordicon.com/lordicon.js"></script>
    <script src="path/to/jquery.min.js"></script>
    <script src="path/to/owl.carousel.min.js"></script>
    <script src="js/fontawesome.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/jquery-ui.js"></script>
    <script src="js/jquery.scrollUp.min.js"></script>
    <script src="js/imagesloaded.pkgd.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>
</body>
</html>