<%- include('../layout/changePasswordHead') %>

<%- include('../layout/loginHeader') %>

    <div id="firejet-html-app">
      <div class="change-password-wrapper">
        <main class="change-password-change-password">
            <main class="sign-up-ttt-choco-heaven-tttthome-horizontal-divider-ticon-ttshop-ticon-tgifting-vector-tnew-launches-ticon-tbrands-ticon-tlink-contact-ttvector-titem-ticon-t0ticon-t5titem" >
                <div class="sign-up-tt-choco-heaven-tttthome-horizontal-divider-ticon-ttshop-ticon-tgifting-vector-tnew-launches-ticon-tbrands-ticon-tlink-contact-ttvector-titem-ticon-t0ticon-t5titem" >
                  <div class="sign-up-t-choco-heaven">
                    <div class="sign-up-choco-heaven">CHOCO HEAVEN</div>
                  </div>
              </main>
          <div class="change-password-change-password-1">Change password</div>
          <div class="change-password-enter-your-new-password-to-reset-it">
            Enter your new password to reset it
          </div>
          <form action="/resetPassword" method="post" id="resetPassword" >
          <div class="change-password-t-field">
            <div class="change-password-field">
              <input
                placeholder="New password"
                id="newPassword"
                type="password"
                name="newPassword"
                class="change-password-label"
              />
            </div>
          </div>
          <div class="change-password-t-field-1">
            <div class="change-password-field-1">
              <input
                placeholder="Confirm password"
                id="confmPassword"
                name="cnfmPassword"
                class="change-password-label-1"
              />
            </div>
          </div>
          <% if(typeof message !== "undefined"){
            %>
         <p style="color: red;"><%=message%></p> 
      <%
       }
      %>
          <div class="change-password-t-button">
            <button type="submit" value="submit" class="change-password-reset-password">
              Reset Password
            </button>
          </div>
        </form>
          <div class="change-password-t-footer">
            <div class="change-password-footer">
              <div class="change-password-choco-heaven">CHOCO HEAVEN</div>
              <div class="change-password-mazia-store-is-apremium-theme-with-advanced-admin-module-it-sextremely-customizable-easy-to-use-and-fully-responsive-and-retina-ready" >
                <p>
                  Mazia store is a premium theme with advanced admin module.
                  It’s
                </p>
                <p>
                  extremely customizable, easy to use and fully responsive and
                  retina
                </p>
                <p>ready.</p>
              </div>
              <div class="change-password-t-paypal-png">
                <div class="change-password-paypal-png"></div>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
    <%- include('../layout/changePasswordFooter') %>
