  
  <%- include('../layouts/userOrderHeader') %>
  <%- include('../layouts/userHomeHeader') %>

  
   <!-- header section start -->
   <header class="header pt-3 pb-4 header-sticky" style="height: 4.5rem;">
    <div class="container-fluid">
        <div class="header-nav  position-relative">
            <div class="row align-items-center">
                <div class="col-xl-2 col-lg-1 col-md-6 col-sm-6 col-3">
                    <div class="logo">
                        <a href="/home"><img src="/assets/img/logo/logo1.png" alt="" style="width: 100%; height: 100%;"></a>
                    </div>
                </div>

                <div class="col-xl-6 col-lg-8 hidden-md position-static">
                    <div class="header-nav header-nav-2 pl-100">
                        <nav class="d-flex justify-content-center align-content-center"> 
                            <ul>
                                <li><a href="javascript:void(0)" ><span>Home </span></a></li>
                                <li><a href="/loadShop"><span>Shop <i class="fas fa-angle-down"></i></span></a>
                                        <div class="submenu" style="border-radius: 13px;">
                                            <ul>
                                                <li><a href="#">All Products </a></li>
                                                <li><a href="#">Trending</a></li>
                                                <li><a href="#">Best Seller</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                <li><a href="javascript:void(0)"><span>Best Deals</span>
                                    </a>
                                </li>
                                <li><a href="javascript:void(0)"><span>Top Brands <i
                                                class="fas fa-angle-down"></i></span> </a>
                                    <ul class="submenu" style="border-radius: 13px;">
                                        <li><a href="portfolio.html">Lindt</a></li>
                                        <li><a href="portfolio2.html">Whittaker's</a></li>
                                        <li><a href="portfolio3.html">Buttlers's</a></li>
                                        <li><a href="portfolio3.html">Milka</a></li>
                                        <li><a href="portfolio3.html">Ferrero</a></li>
                                        <li><a href="portfolio3.html">Cadbury</a></li>
                                    </ul>
                                </li>
                                <li><a href="javascript:void(0)"><span>Gifting</span> <i
                                            class="fas fa-angle-down"></i></a>
                                    <ul class="submenu" style="border-radius: 13px;">
                                        <li><a href="about.html">Gift Hampers</a></li>
                                        <li><a href="contact.html">Bulk Orders</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>

                <div class="col-xl-4 col-lg-3 col-6 col-md-6 col-sm-6 col-9 hidden-md">
                    <div class="header-right">
                        <ul class="text-right">
                            <% if (!locals.user) { %>
                                <li>
                                    <a href="/login" class="account">
                                        <button class="signup-button"> 
                                            Sign up
                                        </button>
                                        <lord-icon
                                            src="https://cdn.lordicon.com/kthelypq.json"
                                            trigger="hover"
                                            colors="primary:#000000"
                                            style="width:22px;height:22px; padding-top: 6px;">
                                        </lord-icon>
                                    </a>
                                </li>
                            <% } else { %>
                                <a href="/profileDetails" class="account">
                                    <lord-icon
                                        src="https://cdn.lordicon.com/kthelypq.json"
                                        trigger="hover"
                                        colors="primary:#ef829f"
                                        style="width:23px;height:23px; padding-top: 6px;">
                                    </lord-icon>
                                </a>
                            <% } %>                                
                            <li><a href="javascript:void(0)"><lord-icon
                                src="https://cdn.lordicon.com/kkvxgpti.json"
                                trigger="hover"
                                colors="primary:#000000"
                                style="width:22px;height:22px; padding-top: 4.5px; padding-left: 2px;">
                            </lord-icon>

                                <!-- search popup -->
                                <div id="search-popup">
                                    <div class="close-search-popup">
                                        <lord-icon
                                        src="https://cdn.lordicon.com/kkvxgpti.json"
                                        trigger="hover"
                                        colors="primary:#000000"
                                        style="width:20px;height:20px;">
                                    </lord-icon>
                                    </div>
                                    <div class="search-popup-inner mt-135">
                                        <div class="search-title text-center">
                                            <h2>Search</h2>
                                        </div>

                                        <div class="search-content pt-55">
                                            <ul class="text-center">
                                                <li><a href="javascript:void(0)" class="active">All categories</a>
                                                </li>
                                                <li><a href="javascript:void(0)">Clothing</a></li>
                                                <li><a href="javascript:void(0)">Gift Cards</a></li>
                                                <li><a href="javascript:void(0)">Handbag</a></li>
                                                <li><a href="javascript:void(0)">Kids</a></li>
                                                <li><a href="javascript:void(0)">Shoes</a></li>
                                                <li><a href="javascript:void(0)">Sneaker</a></li>
                                                <li><a href="javascript:void(0)">Women</a></li>
                                            </ul>

                                            <div class="search-form mt-35">
                                                <form action="#" method="post">
                                                    <input type="text" placeholder="Search Products...">
                                                    <button type="submit"> <img src="/assets/Vector1.svg" style="width: 22px; height: 20px;"></button>                                                    </form>
                                            </div>

                                            <div class="search-result-list">
                                                <ul class="text-left">
                                                    <li class="d-block d-flex align-items-center">
                                                        <div class="search-result-img">
                                                            <img src="/assets/img/product/1.jpg" class="w-100" alt="">
                                                        </div>
                                                        <div class="search-result-desc pl-10">
                                                            <a href="/loadShop" class="title px-0">ELLE - Recliner syntheti
                                                                chair</a>
                                                            <div class="price">$<span>399</span></div>
                                                        </div>
                                                    </li>
                                                    <li class="d-block d-flex align-items-center">
                                                        <div class="search-result-img">
                                                            <img src="/assets/img/product/2.jpg" class="w-100" alt="">
                                                        </div>
                                                        <div class="search-result-desc pl-10">
                                                            <a href="/loadShop" class="title px-0">RIMINI - Folding leather
                                                                deck chair</a>
                                                            <div class="price">$<span>399</span></div>
                                                        </div>
                                                    </li>
                                                    <li class="d-block d-flex align-items-center">
                                                        <div class="search-result-img">
                                                            <img src="/assets/img/product/3.jpg" class="w-100" alt="">
                                                        </div>
                                                        <div class="search-result-desc pl-10">
                                                            <a href="/loadShop" class="title px-0">LANDSCAPE - Folding
                                                                fabric deck chair</a>
                                                            <div class="price">$<span>399</span></div>
                                                        </div>
                                                    </li>
                                                    <li class="d-block d-flex align-items-center">
                                                        <div class="search-result-img">
                                                            <img src="/assets/img/product/1.jpg" class="w-100" alt="">
                                                        </div>
                                                        <div class="search-result-desc pl-10">
                                                            <a href="/loadShop" class="title px-0">ELLE - Recliner syntheti
                                                                chair</a>
                                                            <div class="price">$<span>399</span></div>
                                                        </div>
                                                    </li>
                                                    <li class="d-block d-flex align-items-center">
                                                        <div class="search-result-img">
                                                            <img src="/assets/img/product/2.jpg" class="w-100" alt="">
                                                        </div>
                                                        <div class="search-result-desc pl-10">
                                                            <a href="/loadShop" class="title px-0">RIMINI - Folding leather
                                                                deck chair</a>
                                                            <div class="price">$<span>399</span></div>
                                                        </div>
                                                    </li>
                                                    <li class="d-block d-flex align-items-center">
                                                        <div class="search-result-img">
                                                            <img src="/assets/img/product/3.jpg" class="w-100" alt="">
                                                        </div>
                                                        <div class="search-result-desc pl-10">
                                                            <a href="/loadShop" class="title px-0">LANDSCAPE - Folding
                                                                fabric deck chair</a>
                                                            <div class="price">$<span>399</span></div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li><a href="wishlist.html" data-toggle="tooltip" data-placement="bottom"
                                    title="view wishlist"><lord-icon
                                    src="https://cdn.lordicon.com/xyboiuok.json"
                                    trigger="hover"
                                    colors="primary:#000000"
                                    style="width:24px;height:24px; padding-top: 4.8px;">
                                </lord-icon></a></li>
                            <li><a href="/cart"> <lord-icon
                                src="https://cdn.lordicon.com/mfmkufkr.json"
                                trigger="hover"
                                colors="primary:#000000"
                                style="width:23px;height:23px; padding-top: 4.2px;">
                            </lord-icon><span></span></i></a>
                                <!-- <div class="minicart">
                                    <div class="minicart-body">
                                        <div class="minicart-content">
                                            <ul class="text-left">
                                                <li>
                                                    <div class="minicart-img">
                                                        <a href="/product-1" class="p-0"><img src="/assets/img/product/P-1.webp"
                                                                class="w-100" alt=""></a>
                                                    </div>
                                                    <div class="minicart-desc">
                                                        <a href="/product-1" class="p-0">Capitalize on low hanging fruit
                                                            t</a>
                                                        <strong>1 × $250.00</strong>
                                                    </div>
                                                    <div class="remove">
                                                        <i class="fas fa-times"></i>
                                                    </div>
                                                </li>

                                                <li>
                                                    <div class="minicart-img">
                                                        <a href="/product-1" class="p-0"><img src="/assets/img/product/2.jpg"
                                                                class="w-100" alt=""></a>
                                                    </div>
                                                    <div class="minicart-desc">
                                                        <a href="/product-1" class="p-0">Leather Courriere duffle ba</a>
                                                        <strong>1 × $150.00</strong>
                                                    </div>
                                                    <div class="remove">
                                                        <i class="fas fa-times"></i>
                                                    </div>
                                                </li>


                                                <li>
                                                    <div class="minicart-img">
                                                        <a href="/product-1" class="p-0"><img src="/assets/img/product/3.jpg"
                                                                class="w-100" alt=""></a>
                                                    </div>
                                                    <div class="minicart-desc">
                                                        <a href="/product-1" class="p-0">Party Supplies Around Cupcake</a>
                                                        <strong>1 × $150.00</strong>
                                                    </div>
                                                    <div class="remove">
                                                        <i class="fas fa-times"></i>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="minicart-checkout">
                                        <div class="minicart-checkout-heading mt-8 mb-25 overflow-hidden">
                                            <strong class="float-left">Subtotal:</strong>
                                            <span class="price float-right">503.00</span>
                                        </div>
                                        <div class="minicart-checkout-links">
                                            <a href="cart.html"
                                                class="generic-btn black-hover-btn text-uppercase w-100 mb-20">View
                                                cart</a>
                                            <a href="checkout.html"
                                                class="generic-btn black-hover-btn text-uppercase w-100 mb-20">Checkout</a>
                                        </div>
                                    </div>
                                </div>
                            </li> -->
                            <li>
                                <a href="javascript:void(0)">
                                    <img src="/assets/Icon4.svg" style="width: 30px; height: 28px; ">
                                </a>
                                <ul class="submenu text-right" style="border-radius: 13px;">
                                    <% if (locals.user) { %>
                                        <li><a href="/profileDetails">My profile</a></li>
                                        <li><a href="checkout.html">My address</a></li>
                                        <li><a href="/loadShop">Orders</a></li>
                                        <li><a href="wishlist.html">Wishlist</a></li>
                                        <li><a href="/logout">logout</a></li>
                                    <% } else { %>
                                        <li><a href="/login">My profile</a></li>
                                        <li><a href="checkout.html">My address</a></li>
                                        <li><a href="/loadShop">Orders</a></li>
                                        <li><a href="wishlist.html">Wishlist</a></li>
                                        <li><a href="/login">Sign in</a></li>
                                    <% } %>
                                </ul>
                            </li> 
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="mobile-menu visible-sm">
            <div id="mobile-menu">
                <ul>
                    <li><a class="pl-3" href="javascript:void(0)">Home</a></li>
                    <li><a class="pl-3" href="javascript:void(0)">Shop</a>
                        <ul>
                            <li><a href="#">All Products </a></li>
                            <li><a href="#">Trending</a></li>
                            <li><a href="#">Best Seller</a></li>
                        </ul>
                    </li>
                    <li><a href="javascript:void(0)">Best Deals</a>
                    </li>
                    <li><a href="javascript:void(0)">Gifting</a>
                        <ul>
                            <li><a href="portfolio.html">Gifting</a></li>
                            <li><a href="portfolio2.html">Bundle Hamper</a></li>
                            <li><a href="portfolio3.html">Bulk Orders</a></li>
                        </ul>
                    </li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </div>
        </div>
        <!-- /. mobile nav -->
    </div>
</header>
<!-- header section end -->
<div class="has-breadcrumb-bg m-0" data-background="img/bg/3.jpg">
    <div class="breadcrumb-content d-flex justify-content-center align-items-center hidden-md p-sm-0" style="flex-direction: column;">
        <h3 class="title">
            <img src="/assets/img/logo/Orders_Icon.png" style="width: 50px; height: 50px; padding-bottom: 6px; padding-right: 3px;">My Orders
        </h3>
        <nav aria-label="breadcrumb" class="mb-">
            <ol class="breadcrumb p-0 m-0">
                <li class="breadcrumb-item"><a href="/home">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Orders</li>
            </ol>
        </nav>
    </div>
</div>

<div class="container-xxl flex-grow-1 container-p-y pt-md-">
    <div class="row">
        <!-- Sidebar Column -->
        <div class="col-md-3 mb-5 hidden-md">
            <div class="sidebar pl-5 pr-0 sidebar-text">
                <ul class="nav flex-column">
                    <li class="nav-item" style="margin-bottom: 25px;">
                        <a class="nav-link" href="/profileDetails" onclick="setActive(this)">Personal info</a>
                    </li>
                    <li class="nav-item" style="margin-bottom: 25px;">
                        <a class="nav-link" href="/ordersManage" onclick="setActive(this)">Orders</a>
                    </li>
                    <li class="nav-item" style="margin-bottom: 25px;">
                        <a class="nav-link" href="/wallet" onclick="setActive(this)">Wallet</a>
                    </li>
                    <li class="nav-item" style="margin-bottom: 25px;">
                        <a class="nav-link" href="/addressManage" onclick="setActive(this)">Address</a>
                    </li>
                    <li class="nav-item" style="margin-bottom: 25px;">
                        <a class="nav-link" href="/accountDetails" onclick="setActive(this)">Account details</a>
                    </li>
                    <li class="nav-item" style="margin-bottom: 25px;">
                        <a class="nav-link" href="/logout" onclick="setActive(this)">Log out</a>
                    </li>
                </ul>
            </div>
        </div>
          <!-- Main Content Column -->
          <div class="col-md-9 pl-0">
            <h4 class="col-md-6 profile-head p-0">Your Orders 🛍️</h4>
            <p class="col-md-6 p-head p-0">Here's your Orders summary.</p>

        <div id="firejet-html-app">
            <main class="frame-frame">
              <div class="frame-tt-order-id-334902461tframe-2610325frame">
                <section class="frame-t-order-id-334902461tframe-2610325frame d-flex justify-content-between">
                  <div class="frame-order-id">Order ID: 334902461</div>
                  <div class="frame-t-frame-2610325frame">
                    <div class="frame-wrapper">
                      <div class="frame-frame-1">
                        <div class="frame-create-order"></div>
                        <div class="frame-t-invoice">
                          <div class="frame-invoice">Invoice</div>
                        </div>
                      </div>
                    </div>
                    <div class="frame-wrapper-1">
                      <button class="frame-frame-2">
                        <div class="frame-t-track-order">
                          <div class="frame-track-order">Track Order</div>
                        </div>
                        <div class="frame-north-direction"></div>
                      </button>
                    </div>
                  </div>
                </section>
              </div>
              <div class="frame-ttt-order-date-jun-262024line-8estimated-delivery-jul" >
                <div class="frame-tt-order-date-jun-262024line-8estimated-delivery-jul d-flex justify-content-start" >
                  <div class="frame-t-order-date-jun-262024line">
                    <div class="frame-order-date-jun">Order date: Jun 26, 2024</div>
                    <object
                      data="/assets/Line.svg"
                      class="frame-line"
                    ></object>
                  </div>
                  <div class="frame-estimated-delivery-jul">
                    Estimated delivery: Jul 05, 2024
                  </div>
                </div>
              </div>
              <div class="frame-t-line">
                <object
                  data="/assets/Line1.svg"
                  class="frame-line-1"
                ></object>
              </div>
              <div class="frame-ttt-product-ttttwhittakers-dark-ghana-fruit-nut-250g-t99500tqty-1tproduct-ttttwhittakers-berry-biscuit-bar-250g-t99500tqty" >
                <section class="frame-tt-product-ttttwhittakers-dark-ghana-fruit-nut-250g-t99500tqty-1tproduct-ttttwhittakers-berry-biscuit-bar-250g-t99500tqty" >
                  <div class="frame-t-product-ttttwhittakers-dark-ghana-fruit-nut-250g-t99500tqty" >
                    <div class="frame-wrapper-2">
                      <div class="frame-product">
                        <img
                          src="/assets/jpg.png"
                          loading="lazy"
                          class="frame-jpg"
                        />
                      </div>
                    </div>
                    <div class="frame-tttt-whittakers-dark-ghana-fruit-nut-250g-t99500tqty" >
                      <div class="frame-ttt-whittakers-dark-ghana-fruit-nut-250g-t99500tqty" >
                        <div class="frame-t-whittakers-dark-ghana-fruit-nut-250g">
                          <div>Whittakers Dark Ghana Fruit &amp; Nut</div>
                          <div class="frame-g">250g</div>
                        </div>
                        <div class="frame-t-99500tqty">
                          <div class="frame-component">₹995.00</div>
                          <div class="frame-t-qty">
                            <div class="frame-qty">Qty: 1</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="frame-t-product-ttttwhittakers-berry-biscuit-bar-250g-t99500tqty" >
                    <div class="frame-wrapper-3">
                      <div class="frame-product-1">
                        <img
                          src="/assets/jpg-1.png"
                          loading="lazy"
                          class="frame-jpg-1"
                        />
                      </div>
                    </div>
                    <div class="frame-tttt-whittakers-berry-biscuit-bar-250g-t99500tqty" >
                      <div class="frame-ttt-whittakers-berry-biscuit-bar-250g-t99500tqty" >
                        <div class="frame-t-whittakers-berry-biscuit-bar-250g">
                          <div class="frame-whittakers-berry-biscuit-bar">
                            Whittakers Berry &amp; Biscuit Bar
                          </div>
                          <div class="frame-g-1">250g</div>
                        </div>
                        <div class="frame-t-99500tqty-1">
                          <div class="frame-component-1">₹995.00</div>
                          <div class="frame-t-qty-1">
                            <div class="frame-qty-1">Qty: 1</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
              <div class="frame-t-line-1">
                <object
                  data="/assets/Line1.svg"
                  class="frame-line-2"
                ></object>
              </div>
              <div class="frame-tt-payment-delivery">
                <section class="frame-t-payment-delivery">
                  <div class="frame-payment">Payment</div>
                  <div class="frame-delivery">Delivery</div>
                </section>
              </div>
              <div class="frame-tttt-visa-56tframe-2610319address">
                <div class="frame-ttt-visa-56tframe-2610319address">
                  <div class="frame-tt-visa-56tframe">
                    <div class="frame-t-visa-56tframe">
                      <div class="frame-visa">Visa**56</div>
                      <div class="frame-t-frame">
                        <object
                          data="/assets/Frame.svg"
                          class="frame-frame-3"
                        ></object>
                      </div>
                    </div>
                  </div>
                  <div class="frame-address">Address</div>
                </div>
              </div>
              <div class="frame-t-847kozhikode-skyline-apt d-flex justify-content-end pe-0">
                <div class="frame-kozhikode-skyline-apt">
                  847 Kozhikode skyline Apt. 174
                </div>
              </div>
              <div class="frame-t-kozhikode-in d-flex justify-content-end">
                <div class="frame-kozhikode-in">Kozhikode, IN</div>
              </div>
              <div class="frame-t d-flex justify-content-end">
                <div class="frame-component-2 d-flex justify-content-end ">9544675885</div>
              </div>
              <div class="frame-t-delivery-method d-flex justify-content-end">
                <div class="frame-delivery-method">Delivery method</div>
              </div>
              <div class="frame-tt-razaro-pay d-flex justify-content-end">
                <div class="frame-razaro-pay">Razaro Pay</div>
              </div>
              <div class="frame-t-line-2">
                <object
                  data="/assets/Line1.svg"
                  class="frame-line-3"
                ></object>
              </div>
              <div class="frame-tt-need-help-order-summary">
                <div class="frame-t-need-help-order-summary">
                  <div>
                    <span>Need <span class="frame-text">help?</span></span>
                  </div>
                  <div>Order Summary</div>
                </div>
              </div>
              <div class="frame-ttttt-help-order-issues-tttruck-delivery-info-ttsubtotal-199000tdiscount" >
                <section class="frame-tttt-help-order-issues-tttruck-delivery-info-ttsubtotal-199000tdiscount" >
                  <div class="frame-ttt-help-order-issues-tttruck-delivery-info">
                    <div class="frame-tt-help-order-issues">
                      <div class="frame-t-help"><div class="frame-help"></div></div>
                      <div>Order Issues</div>
                    </div>
                    <div class="frame-tt-truck-delivery-info">
                      <div class="frame-t-truck"><div class="frame-truck"></div></div>
                      <div>Delivery Info</div>
                    </div>
                  </div>
                  <div class="frame-tt-subtotal-199000tdiscount">
                    <div class="frame-t-subtotal">
                      <div class="frame-subtotal">Subtotal</div>
                      <div class="frame-component-3">₹1990.00</div>
                    </div>
                    <div class="frame-t-discount">
                      <div class="frame-discount">Discount</div>
                      <div class="frame-component-4">(20%)-₹200</div>
                    </div>
                  </div>
                </section>
              </div>
              <div class="frame-tttt-return-purchase-returns-ttdelivery-info">
                <section class="frame-ttt-return-purchase-returns-ttdelivery-info">
                  <div class="frame-tt-return-purchase-returns">
                    <div class="frame-t-return-purchase">
                      <div class="frame-return-purchase"></div>
                    </div>
                    <div class="frame-returns">Returns</div>
                  </div>
                  <div class="frame-tt-delivery-info">
                    <div class="frame-t-delivery-info">
                      <div class="frame-delivery-1">Delivery</div>
                      <div class="frame-info"></div>
                    </div>
                    <div class="frame-component-5">₹0.00</div>
                  </div>
                </section>
              </div>
              <div class="frame-ttt-tax-info-free">
                <div class="frame-tt-tax-info-free">
                  <div class="frame-t-tax-info">
                    <div class="frame-tax">Tax</div>
                    <div class="frame-info-1"></div>
                  </div>
                  <div class="frame-free">Free</div>
                </div>
              </div>
              <div class="frame-t-line-3">
                <object
                  data="/assets/Line2.svg"
                  class="frame-line-4"
                ></object>
              </div>
              <div class="frame-tt-total">
                <div class="frame-t-total">
                  <div class="frame-total">Total</div>
                  <div class="frame-component-6">₹1990.00</div>
                </div>
              </div>
            </main>
          </div>
<script>
    function setActive(link) {
        const links = document.querySelectorAll('.sidebar .nav-link');
        links.forEach(link => link.classList.remove('active'));
        link.classList.add('active');
    }

    // Optional: Set the initial active link based on current URL or other logic
    document.addEventListener('DOMContentLoaded', () => {
        const currentPath = window.location.pathname;
        const links = document.querySelectorAll('.sidebar .nav-link');
        links.forEach(link => {
            if (link.getAttribute('href') === currentPath) {
                link.classList.add('active');
            }
        });
    });
</script>

<%- include('../layouts/addBrandsFooter') %>
<%- include('../layouts/homeFooter') %>
