<%- include('../layouts/signUpHeader') %>
<% if(typeof message !== "undefined"){ %>
  <div class="msg msg-danger show d-flex align-items-center justify-content-center text-center" id="message" role="alert">
    <div class="d-flex align-items-center justify-content-center">
      <lord-icon
        src="https://cdn.lordicon.com/nqtddedc.json"
        trigger="in"
        delay="100"
        state="in-cross"
        colors="primary:#e83a30"
        style="width:50px;height:50px">
      </lord-icon> 
    </div>
    <%= message %> 
  </div>
<% } %>

<% if(typeof warning !== "undefined"){ %>
  <div class="msg msg-warning show d-flex align-items-center justify-content-center text-center" role="alert" style="color: black;">
    <div class="d-flex align-items-center justify-content-center">
      <lord-icon
        src="https://cdn.lordicon.com/ygvjgdmk.json"
        trigger="in"
        delay="100"
        colors="primary:#e88c30"
        style="width:50px;height:50px;">
      </lord-icon>
    </div>
      <%= warning %>
  </div>  
<% } %>
<div id="firejet-html-app">
      <div class="sign-up-wrapper">
        <div class="sign-up-sign-up">
          <div class="sign-up-ttt-choco-heaven-tttthome-horizontal-divider-ticon-ttshop-ticon-tgifting-vector-tnew-launches-ticon-tbrands-ticon-tlink-contact-ttvector-titem-ticon-t0ticon-t5titem" >
            <div class="sign-up-tt-choco-heaven-tttthome-horizontal-divider-ticon-ttshop-ticon-tgifting-vector-tnew-launches-ticon-tbrands-ticon-tlink-contact-ttvector-titem-ticon-t0ticon-t5titem" >
              <div class="sign-up-t-choco-heaven">
                <heading class="sign-up-choco-heaven">CHOCO HEAVEN</heading>
              </div>
            </div>
          </div>
          <heading class="sign-up-create-an-account">Create an account</heading
          ><heading class="sign-up-enter-your-email-to-sign-up-for-this-app" >Enter your email address to create an account.</heading>
          <form action="/signUp" method="post" id="signupForm" onsubmit="checkPassword(event)">
            <div class="sign-up-t-field">
                <div class="sign-up-field">
                    <input
                        name="firstName"
                        placeholder="First Name"
                        id="firstName"
                        type="text"
                        class="sign-up-label"
                    />
                </div>
            </div>
            <div class="sign-up-t-field-1">
                <div class="sign-up-field-1">
                    <input
                        name="lastName"
                        placeholder="Last Name"
                        id="lastName"
                        type="text"
                        class="sign-up-label-1"
                    />
                </div>
            </div>
            <div class="sign-up-t-field-2">
                <div class="sign-up-field-2">
                    <input
                        name="email"
                        placeholder="email@domain.com"
                        id="email"
                        type="email"
                        class="sign-up-label-2"
                    />
                </div>
            </div>
            <div class="sign-up-t-field-3">
              <div class="sign-up-field-3">
                <input
                  name="password"
                  placeholder="Password"
                  id="password"
                  type="password"
                  class="sign-up-label-3"
                />
                <img
                  id="showPassword"
                  src="assets/img/logo/eye_open.svg"
                  width="22"
                  height="22"
                  style="cursor: pointer; display: none;"
                  alt="Show Password"
                />
                <img
                  id="hidePassword"
                  src="assets/img/logo/eye_close.svg"
                  width="22"
                  height="22"
                  style="cursor: pointer;"
                  alt="Hide Password"
                />
              </div>
            </div>
            <div class="sign-up-t-field-4">
              <div class="sign-up-field-4">
                <input
                  name="confirmPassword"
                  placeholder="Confirm Password"
                  id="confirmPassword"
                  type="password"
                  class="sign-up-label-4"
                />
                <img
                  id="showConfirmPassword"
                  src="assets/img/logo/eye_open.svg"
                  width="22"
                  height="20"
                  style="cursor: pointer; display: none;"
                  alt="Show Confirm Password"
                />
                <img
                  id="hideConfirmPassword"
                  src="assets/img/logo/eye_close.svg"
                  width="22"
                  height="20"
                  style="cursor: pointer;"
                  alt="Hide Confirm Password"
                />
              </div>
            </div>                      
            <div class="sign-up-t-button">
                <button type="submit" value="submit" class="sign-up-sign-up-with-email">Sign up with email</button>
            </div>
        </form>          
          <div class="sign-up-tt-divider-or-continue-with-divider">
            <div class="sign-up-t-divider-or-continue-with-divider">
              <div class="sign-up-divider"></div>
              <div class="sign-up-or-continue-with">or continue with</div>
              <div class="sign-up-divider-1"></div>
            </div>
          </div>
          <div class="sign-up-t-button-1">
            <div class="sign-up-t-google-continue-with-google"  style="border: solid 1px; border-color: rgb(227, 226, 226);">
              <object
                data="/assets/Google.svg"
                class="sign-up-google"
                ></object>
                <a href="/passportAuth/googleAuth" style="text-decoration: none; color: #494844;">
              <div class="sign-up-continue-with-google">
                Continue with Google
              </div>
            </div>
          </a>
          </div>
          <div class="sign-up-t-button-2 cursor-pointer">
            <div class="sign-up-t-apple-logo-continue-with-apple">
              <div class="sign-up-apple-logo"></div>
              <div class="sign-up-continue-with-apple">Continue with Apple</div>
            </div>
          </div>
          <div class="sign-up-by-clicking-continue-you-agree-to-our-terms-of-service-and-privacy-policy" >
            <p>
              <span class="sign-up-text" >By clicking continue, you agree to our </span
              >Terms of Service <span class="sign-up-text-1">and </span>Privacy
              Policy
            </p>
          </div>
        </div>
      </div>
    </div>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
      const togglePasswordVisibility = (passwordInputId, showIconId, hideIconId) => {
      const passwordInput = document.getElementById(passwordInputId);
      const showIcon = document.getElementById(showIconId);
      const hideIcon = document.getElementById(hideIconId);

      const toggleVisibility = () => {
      const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
      passwordInput.setAttribute('type', type);
      showIcon.style.display = type === 'password' ? 'none' : 'inline';
      hideIcon.style.display = type === 'password' ? 'inline' : 'none';
      };

      showIcon.addEventListener('click', toggleVisibility);
      hideIcon.addEventListener('click', toggleVisibility);
    };

  togglePasswordVisibility('password', 'showPassword', 'hidePassword');
  togglePasswordVisibility('confirmPassword', 'showConfirmPassword', 'hideConfirmPassword');
});
    $(document).ready(function() {
    if ($('.msg').length) {
      $('.msg').addClass('show');
      setTimeout(function() {
        $('.msg').removeClass('show');
      }, 3500);
    }
  });
  </script>
  <!-- <script src="/js/validation.js"></script> -->
    <%- include('../layouts/loginFooter') %>
